
.tetris {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.tetris div{
    border: solid 1px black;
    width: 30px;
    height: 30px;
}
.cell{
    border: solid 1px black;
    width: 20px;
    height: 20px;
}

.tetromino {
    background-color: blue;
}
